version: "3.9"

services:
  db:
    image: postgres:15
    container_name: recsys-postgres
    environment:
      POSTGRES_USER: recsys
      POSTGRES_PASSWORD: recsys
      POSTGRES_DB: recsys
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: recsys-redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
